@font-face {
    font-family:"Raleway-ExtraBold";
    src: url(./fonts/Raleway-ExtraBold.woff) format(woff),
        url(./fonts/Raleway-ExtraBold.woff2) format(woff2),
}

@font-face {
    font-family:"Raleway-Regular";
    src: url(./fonts/Raleway-Regular.woff) format(woff),
        url(./fonts/Raleway-Regular.woff2) format(woff2);
}